## Replace these example credentials with your actual credentials 

# Database Configuration
DATABASE_HOST_STRING="mysql-db:3306"
DATABASE_NAME="test_db"
DB_USER_NAME="root"
DB_PASSWORD="your-password"

# Docker Container
DB_CONTAINER="mysql-db-container"

# Local Backup
BACKUP_DIR="/home/azureuser/dir-path-db-backup"
BACKUP_RETENTION_COUNT="7"

# Azure Storage
AZURE_STORAGE_ACCOUNT="storage-account-name"
AZURE_STORAGE_KEY="storage-account-key"
AZURE_CONTAINER_NAME="test-db-backup-container"

# Azure Retention
AZURE_RETENTION_COUNT="7"
